* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  text-align: center;
  background-color: #0F222D;
  color:#EBE7D9;
  /* background-color: red; For browsers that do not support gradients */
  /* background-image: linear-gradient(red, yellow, orange); */
}



/******** Navigation ********/
.nav {
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  transition: 0.6s;
  -webkit-transition: background-color 500ms;
  position: sticky;
  top: 0;
}

/* .sticking {
  background-color: #ffffff84;
} */


nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 11px;
  /* border: 2px solid red; */
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: inline-block;
  height: 45px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
}

nav a:first-child {
  margin-right: auto;
}

.nav-item a {
  padding: 5px 10px;
  overflow-y: hidden;
}

.nav-item a:hover {
  background: rgba(255, 255, 255, 0.462);
}

.sidebar-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.438);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 15px;
  padding-top: 15px;
}

#close-icon {
  justify-self: flex-end;
}

#menu-icon {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 60px;
  border-radius: 100px;

  display: none;
}


#line {
  position: absolute;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  -webkit-transform: translateX(-100%);
  transition: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  -webkit-transform: translateX(0);
  transition: translateX(0);
}

.card:nth-child(2) {
  -webkit-transition-delay: 200ms;
}

.card:nth-child(3) {
  -webkit-transition-delay: 400ms
}

.header {
  min-height: 100vh;
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 60px;
  color: #EBE7D9;
}

.header-title {
  height: 100%;
  width: 60%;
  text-align: left;
  /* border: 2px solid blue; */
}

#resume {
  text-align: center;
  height: 55px;
  width: 180px;
  background-color: #F55139;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  color: #F3F3F3;
  font-weight: 700;
  line-height: 45px;
}

#resume:hover {
  background-color: #f55239ac;
  font-weight: 700;
}

.about-me {
  height: auto;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-content {
  height: 100%;
  width: 60%;
  text-align: left;
}

.about-me-content h1 {
  padding-bottom: 20px;
}

.about-me-content p {
  font-weight: normal;
  color: #f3f3f3;
}

#headshot {
  margin-top: 80px;
  height: 280px;
  width: 280px;
  border-radius: 50%;
}

.timeline-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.timeline {
  margin-left: 590px;
  border-left: 3px solid rgba(255, 255, 255, 0.104);
  height: auto;
  /* border-right: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

/* .timeline-subheader p {
  width: 90%;
} */

.timeline-subheader h2 {
  font-weight: 500;
}

.timeline-subheader {
  width: 60%;
  height: auto;
  margin-top: 150px;
  margin-left: 50px;
  /* border: 2px solid red; */
}

.skills {
  margin-top: 80px;
}

.education h1 {
  padding-bottom: 10px;
}

.education-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  color:#F55139;
  /* border: 2px solid red; */
}

#degree {
  font-size: 20px;
  padding-bottom: 50px;
}

.highlights h3 {
  font-weight: 500;
}

.highlight-subheading {
  height: auto;
  width: 100%;
  background-color:#09141a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  color:#F55139;
}

.highlight-title {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red;  */
  /* padding-top: 25px; */

}

.highlight-content {
  display: none;
  height: auto;
  width: 100%;
}

.highlight-content ul {
  margin-left: 2em;
  margin-bottom: 2em;
}

.highlight-content ul li {
  color:#EBE7D9;
}

.highlight-content h4 {
  font-size: 17px;
}

.highlight-content p {
  padding-top: 5px;
  font-size: 17px;
  color:#EBE7D9;
}

.highlight-subheading:hover {
  background-color:#F55139;
  color:#EBE7D9;
}

.highlight-end {
  display: flex;
  gap: 15px;
}

#academic {
  margin-top: 25px;
  margin-bottom: 25px;
}



.skills h2 {
  padding-top: 15px;
}

.skills ul li {
  background-color:#09151c;
  padding: 5px;
}

.skills ul {
  width: 100%;
  /* border: 2px solid red; */
  padding-left: 10px;
  /* overflow-x: scroll; */
  
}


.skills ul li img {
  height: auto;
  width: 60px;
  background-color:#09151c;
  padding-bottom: 0;
}

.skills .code-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.skills .code-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  background-color:#09151c;
  border-radius: 20px;
  /* overflow-y: hidden; */
}

.skills .code-icons div:hover {
  transform: scale(1.1);
}

.exp-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 25px;
}

.exp-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 15px;
  cursor: pointer;
}

.exp-card-header h2:hover {
  color: blue;
}

.collapse-arrow {
  display: none;
}

.exp-card p {
  display: none;
  margin-left: 0px;
}


#guelph {
  height: auto;
  width: 50px;
}

.timeline-split {
  margin-top: 100px;
  margin-left: 100px;
  height: auto;
  width: 90%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
}

.timeline-split h1 {
  align-self: flex-start;
  /* border: 2px solid yellow; */
}

.card-container {
  height: auto;
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.card {
  height: 450px;
  width: 400px;
  border-radius: 20px;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.card img {
  /* position: relative; */
  height: auto;
  width: 150px;
  /* border: 2px solid red; */
  /* padding-top: 85px; */
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  position: relative;

  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing)
.flip-card-front {
  position: absolute;
  height: 100%;
  width: 100%;
  color: black;
} */

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: rgb(20, 7, 7);
  transform: rotateY(180deg);
}

.card-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
  gap: 35px;
  /* border: 2px solid red; */
}

.card-img-container h5 {
  height: 20%;
  font-weight: 500;
  font-size: 25px;
}

.card-img-container p {
  height: 20%;
  /* border: 2px solid red; */
  font-size: 13px;
  color:#a2a09b;
  justify-self: flex-end;
  padding-left: 2em;
  padding-right: 2em;
}

.img-container {
  height: 75%; 
  width:100%; 
  /* border: 2px solid blue;  */
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#aed h5 {
  top: 25px;
  position: relative;
  color:#a2a09b;
}


#aed p {
  padding-bottom: 20px;
}

#tent {
  background-color: #314B40;
}

#nccer {
  background-color: #040571;
}

#aed {
  background-color: rgb(239, 239, 239);
}

#nccer .card-img-container img {
  width: 400px;
  
  margin-top: 32px;
}

.proj-btns {
  height: auto;
  display: flex;
  gap: 10px;
  justify-self: flex-end;
  padding-top: 15px;
  border-top: 1px solid grey;
}


.proj-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 5px;
  height: 55px;
  width: 170px;
  background-color: #F55139;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  color: #F3F3F3;
  font-weight: 700;
  text-decoration: none;
}

.btn-icon img {
  height: auto;
  width: 20px;
}

.preview {
  background-color: #EBE7D9;
  color:#F55139;
}

.preview img {
  padding-top: 5px;;
  width: 18px;
}

.preview:hover {
  background-color: #c0bfb8;
}

.github:hover {
  background-color: #db4933;
}

#trip-planner {
  /* border: 2px solid blue; */
}

#trip-planner .img-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

#ribbon {
  height: auto;
  width: 250px;
}




/* 
.card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: none;
  -webkit-transition: 0.25s;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
} */

@media(max-width: 1300px) {
  .timeline-container {
    /* border: 2px solid red; */
  }

  .about-me {
    margin-left: -35px;
  }

  .timeline {
    width: 90%;
    margin-left: 250px;
    /* border: 2px solid red; */
  }

  .skills {
    width: 100%;
    /* border: 2px solid red; */
  }

  .education {
    width: 80%;
  }

  .experience {
    width: 80%;
  }
}

@media(max-width: 1100px) {
  .skills ul {
    overflow-x: scroll;
    scrollbar-color: red yellow;
  }
}

@media(max-width: 890px) {
  .hideOnMobile {
      display: none;
  }

  #menu-icon {
      display: inline-block;
  }

  .timeline {
    margin-left: 10px;
  }


  .card-container {
    height: auto;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .card {
    height: 400px;
    width: 350px;
  }

  .proj-btns {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media(max-width: 490px) {
  .header-title {
    width: 90%;
    padding-left: 25px;
  }

  .header-title h1 {
    font-size: 45px;
    width: 100%;
  }

  .about-me-content {
    text-align: center; 
    width: 80%;
  }

  .about-me-content p {
    font-size: 18px;
    font-weight: 100;
  }

  .education-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 15px;
  }

  .timeline {
    border: none;
    width: 100%;
  }

  .timeline-subheader {
    margin-left: 30px;
    width: 85%;
  }

  .highlights {
    width: 100%;
  }

  .highlight-content ul {
    padding: 0;
    margin-left: 0.5em;
  }

  .highlight-content li {
    padding-bottom: 0.5em;
  }

  .highlight-subheading {
    width: 100%;
  }

  .timeline-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .timeline-split {
    justify-self: center;
    align-self: center;
    margin-left: 0px;
  }

  .card-container {
    height: auto;
    width: 100%;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .card {
    height: 400px;
    width: 100%;
  }

  .proj-btns {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
}